@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    --weakGray: hsl(240,9%,89% );
    color: var(--weakGray);

}
/*web-kit significa que a propiedade em questão só vai ser utilizada se o navegador suportar
 -webkit-font-smoothing: antialiased;
*/

body{    
    background-image: url(../assets/svgs/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contain{
    display: grid;
    place-items: center;
    text-align: center;
}
.avatar{
    margin-top: 2rem;
    position: relative;
}
.avatar img:nth-of-type(1){
    position: absolute;
    top: -15px;
    z-index: 1;
}
.avatar img:nth-of-type(2){
    width: 160px;
    height: 184px;
    object-fit: cover;
    clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 75%, 50% 100%, 0 75%);
    
}
.aboutMe{
    display: grid;
    padding: 0 10px;
}
.aboutMe h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.aboutMe a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
}
.aboutMe p{
    margin: 3rem 0rem 4rem 0rem
}
footer ul{
    display: flex;
    list-style: none;
    gap: 8px;
}
footer li:hover{
    opacity: .7;
    transition: ease-in 1s
}
